---
name: PR Checks

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "*"

jobs:
  on-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v2.3.4
      - name: Set up Flutter
        uses: subosito/flutter-action@v1.4.0
        with:
          channel: stable
      - name: Install dependencies
        run: flutter pub get
      - name: Analyze code style
        run: flutter analyze
      - name: Ensure code formatted correctly
        run: flutter format -n --set-exit-if-changed .
      - name: Ensure code coverage checks correct files
        run: |
          chmod +x bin/prep_files_for_code_coverage_check.sh
          sudo ./bin/prep_files_for_code_coverage_check.sh tap_canvas
      - name: Run the tests (with coverage)
        run: flutter test --coverage
      - name: Upload code coverage report to Codecov
        uses: codecov/codecov-action@v1.2.2
        with:
          token: "${{ secrets.CODECOV_TOKEN }}"
      - name: Add PR comment with code coverage report
        uses: mszlgr/lcov-reporter-action@v0.2.23
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          lcov-file: "./coverage/lcov.info"
      - name: Fail if code coverage has regressed
        uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
        with:
          min_coverage: 100
          path: "./coverage/lcov.info"
